<ion-view view-title="Travel">
  <ion-content>
    <div class="list card padding">
      <label class="item item-input">
        <span class="input-label">Budget</span>
        <input type="number" ng-model="user.budget">
      </label>
      <label class="item item-input">
        <span class="input-label">Departure</span>
        <input type="date" ng-model="user.dateDepart">
      </label>
      <label class="item item-input">
        <span class="input-label">Airport</span>
      </label>
      <label class="item item-input">
        <span class="input-label">Arrival</span>
        <input type="date" ng-model="user.dateArrive">
      </label>
      <button ng-click="onSearch()" ui-sref="tab.travel.results" class="button button-block button-positive activated">
        Search
      </button>
    </div>
  </ion-content>
</ion-view>
